@media (max-width: 768px) {
    body {
        background-position: center 0px;
    }

    main {
        width: 90%;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
    }

    main h1 {
        font-size: 1.6em;
        padding: 15px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .container article {
        width: 50%;
    }

    .container h2 {
        font-size: 1em;
        padding: 8px;
    }

    nav {

        width: 85%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 8px;

    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    nav li a {
        padding: 8px 12px;
        display: block;
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.3em;
        text-align: center;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-position: center 0px;
    }

    main {
        width: 90%;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
    }

    main h1 {
        font-size: 2em;
        padding: 20px 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .container article {
        width: 40%;
    }

    .container h2 {
        font-size: 1.2em;
        padding: 10px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        gap: 15px;
    }

    nav li a {
        padding: 10px 15px;
    }

    header h1 {
        font-size: 3em;
    }

    header p {
        font-size: 1.5em;
    }
}